#dashboard{
	background-color: white;
	padding: 20px 0;
}

.cell{
	display: inline-block;
	border: 2px solid white;
	min-width: 120px;
	width: 100%;
	min-height: 45px;
	padding: 10px 15px;
	text-align: right;
	background-color: #cecece;
	font-size: 18px;
}

.cell span:first-child{
	float: left;
	display: inline-block;
	width: 60%;
}

.cell.surbtc{
	background-color: #33BB92;
	color: white;
}
.cell.crypto{
	background-color: #0066cc;
	color: white;
}
.cell.btc-e{
	background-color: #FFF700;
}

.positive{
	background-color: #81E067;
}
.negative{
	background-color: #FF5959;
}

#a1{
	margin-top: 10px;
}

#values_2{
	margin-top: 50px;
}

.perc{
	display: inline-block;
	float: right;
	color: black;
	margin-left: 4px;
}